/node_modules
/public/hot
/public/fonts
/public/storage
/public/mix-manifest.json
/vendor
.rnd
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
.idea/
_ide_helper.php
.editorconfig
public/js/app.js
public/css/app.css
public/vendor/telescope/app.js
public/vendor/telescope/mix-manifest.json
.vagrant/
